html * {
  transition: 0.5s ease;
  scroll-behavior: inherit;
}

body {
  background-color: #fdfdfd;
  color: #777777;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  cursor: url('https://64.media.tumblr.com/1a9489dc6e4e554f48f78218f844382c/tumblr_inline_p8y2bqV1631ry72eo_75sq.gifv'),
    auto;
}
.main-container {
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  animation-name: slideIn;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.left-container {
  width: 25vw;
  font-family: 'VG5000';
  span {
    z-index: 1;
  }
  position: fixed;
}

.right-container {
  margin-top: 10vh;
  margin-left: 25vw;
  width: 35vw;
  font-family: 'Junicode';
  span {
    z-index: 1;
  }
}
.starfruit img,
.feijoa img {
  width: 100px;
  position: absolute;
}

.header {
  font-size: 28px;
  color: #ffc8c1;
  margin-bottom: 35px;
}

.links {
  font-size: 14px;
  color: #ffd56a;
}

.descrip {
  font-size: 14px;
  color: #528eb1;
}

.friend-img {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
}

.links a,
.header a,
.links .button {
  text-decoration: none;
  color: #f2838a;
}

.links a:hover,
.header a:hover,
.button:hover {
  text-decoration: wavy;
  text-decoration-color: #ff806f;
  text-decoration-line: underline;
  cursor: pointer;

  color: #ffc8c1;
}

[tooltip]:hover::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 5px 10px 5px 10px;
  content: attr(tooltip);
  border-radius: 100px;
  border: 1px solid #f28398;
  background: #fff7d684;
  font-size: 10pt;
  font-family: 'VG5000', 'zpix';
  color: #0b7b9a;
  backdrop-filter: blur(2px);
  letter-spacing: 0.7px;
}

.chinese {
  font-family: 'hellofont-id-moqu', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.terms {
  color: rgb(144, 168, 11);
}

.zpix {
  font-family: 'zpix';
}

.mobile-only-img {
  display: none;
}

a.inline-link {
  color: #f2838a;
  text-decoration: none;
}

.writing-title {
  color: #f2838a;
  font-family: 'VG5000', 'zpix';
  a {
    color: #f2838a;
    font-family: 'VG5000', 'zpix';
    text-decoration: none;
  }
  a:hover {
    text-decoration: wavy;
    text-decoration-color: #ff806f;
    text-decoration-line: underline;
    cursor: pointer;
  }
}

a.inline-link:hover {
  text-decoration: wavy;
  text-decoration-color: #ff806f;
  text-decoration-line: underline;
}

img.writing-hero {
  width: 100%;
}

.writing-piece {
  padding-top: 20px;
  padding-bottom: 20px;
}

.me {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  width: 25vw;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.doodle {
  position: fixed;
  /* opacity: 0; */
  img {
    width: 100px;
  }
  z-index: 0;
}

#pfp {
  width: 250px;
}

.pfp-container {
  font-family: 'bd-caramel-variable', sans-serif;
  font-variation-settings: 'BUBL' 500;
  position: relative;
  font-size: 24pt;
  width: 250px;
}

.pfp-container:hover {
  font-variation-settings: 'BUBL' 100;
  scale: 1.1;
  cursor: pointer;
  #yue {
    transform: rotate(0);
    transition: transform 0.5s ease-in-out;
  }
}

#isabel {
  position: absolute;
  top: 0;
  left: 0;
}
#yue {
  position: absolute;
  bottom: 0;
  right: 30pt;
  font-family: 'hellofont-id-moqu', sans-serif;
  font-weight: 400;
  font-style: normal;
  transform: rotate(-20deg);
  transition: transform 0.5s ease-in-out;
}
#li {
  position: absolute;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) /* mobile */ {
  body {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
  }
  .main-container {
    margin: 40px 0px 80px 0px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .me {
    position: relative;
    width: 80vw;
    padding-left: 4vw;
  }

  .pfp-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #pfp {
    display: none;
  }

  #isabel,
  #yue,
  #li {
    position: relative;
    transform: none;
  }

  #yue {
    right: 0;
  }

  .name {
    display: flex;
    flex-direction: row;
    font-size: 48pt;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .left-container {
    padding-bottom: 100px;
    width: 80%;
    font-family: 'VG5000';
    position: relative;
  }

  .right-container {
    margin-top: 0vh;
    width: 80%;
    font-family: 'Junicode';
    margin-bottom: 80px;
    margin-left: 0vw;
  }
  .doodle {
    img {
      display: none;
    }
  }

  .header {
    font-size: 34px;
  }
  .add-friend {
    display: none;
  }

  img.mobile-only-img {
    display: block;
    width: 100%;
    line-height: 0;
    padding: 40 0 40 0;
  }
}
