@font-face {
  font-family: "VG5000"; /* Name your font family */
  src: url("path/to/your/font/file.ttf"); /* Locate the .ttf file within your directory*/
}

body {
  background-color: #650101;
  color: #ffd4dc;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  flex-direction: column;
  align-items: center;
}
.main-container {
  height: 60vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 40%;
  font-family: "VG5000";
}

.right-container {
  width: 60%;
  font-family: "Junicode";
}
.starfruit img,
.feijoa img {
  width: 100px;
  position: absolute;
}

.header {
  font-size: 32px;
  color: #ffb9c6;
  margin-bottom: 35px;
}

.links {
  font-size: 14px;
}

.friend-img {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
}

.links a,
.header a {
  text-decoration: none;
  color: #ffd4dc;
}

.links a:hover,
.header a:hover,
.button:hover {
  text-decoration: wavy;
  text-decoration-color: #ff806f;
  text-decoration-line: underline;
  cursor: pointer;

  color: #ffb9c6;
}

@media screen and (max-width: 1024px) /* mobile */ {
  body {
    flex-direction: column;
    /* align-items: baseline; */
    font-size: 18px;
  }
  .main-container {
    margin: 40px 0 40px 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .left-container {
    width: 80%;
    font-family: "VG5000";
    margin-bottom: 40px;
  }

  .right-container {
    width: 80%;
    font-family: "Junicode";
  }
  .starfruit img,
  .feijoa img {
    display: none;
  }

  .header {
    font-size: 60px;
  }
}
